*{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
body{
	margin:0;
	padding:0;
	background:#1b1e28;
	color:white;
	font-family:"Heebo";
}
iframe{
	width:100% !important;
	flex:2 !important;
}
#twitter_box{
	overflow:scroll;
}
a:hover{
	cursor:pointer;
	opacity:0.7;
}
a,a:hover{
	transition:.25s all;
}
[data-box] *{
	pointer-events: none;
}
.header{
	font-weight:300;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:2px;
	padding-right:10px;
	font-size:16px;
	overflow:hidden;
}
.bg-green{
	background:#31bc93 !important;
}
.green{
	color:#31bc93;
}
.red{
	color:#bc3131;
}
.flex{
	display:flex;
}
.flex-50 > div{
	flex:50%;
}
.flex-75 > div{
	flex:75%;
}
.flex-25 > div{
	flex:25%;
}
.flex-20 > div{
	flex:20%;
}
.pad-all-small{
	padding:5px;
}
.content{
	margin:0 auto;
	height:150vh;
	overflow:none;
	display:flex;
	flex-direction: column;
}
.dragger{
	font-size: 24px;
	line-height: 14px;
}
.right{
	float:right;
}
a{
	color:white;
	text-decoration: none;
}
.block{
	width:100%;
}
.box{
	border-radius:6px;
	overflow:hidden;
	flex-direction: column;
	box-sizing:border-box;
}
[data-box]:hover{
	cursor:pointer;
	opacity:0.8;
}
[data-box],[data-box]:hover{
	transition:.25s all;
}
.bg-light{
	background:#202733;
}
.bg-dark{
	background:#1c212c;
}
.flex-horizontal{
	flex-direction:row;
}
.flex-vertical{
	flex-direction:column;
}
.pad-all-custom{
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
}
.pad-all-custom:first-child{
	padding-left:0px !important;
}
.pad-all-custom:last-child{
	padding-right:0px !important;
}
.flex-fillRest{
	flex:2;
}
.flex-center{
	align-items:center;
	justify-content: center;
}
.price{
	font-weight:400;
	font-size:24px;
}
.deselected{
	color:#45484f;
}
.pad-all-large{
	padding:10px;
}
.bg-tab{
	
}
.hidden{
	opacity:0;
}
.selectedBox{
	box-shadow:0px 0px 5px rgba(60, 220, 173, 0.5);
}
@media screen and (max-width: 960px){
	.flex,.box{
		display:block;
	}
	*{
		text-align:center;
	}
	iframe,canvas{
		min-height:400px;
	}
}